---
title: Xin Zhang's Homepage
layout: default
---

<div class="row">
	<div class="page-header top-header" class="col-lg-12" >
		<h2>Research Interests</h2>
	</div>

	<div class="col-lg-12">
		<p>
		While I am broadly interested in topics related to programming languages (<b>PL</b>) and software engineering (<b>SE</b>),
		my current focus is on program analysis and its interplay with machine learning (<b>ML</b>) and artificial intelligence (<b>AI</b>).
		On one hand, I leverage ideas from <b>ML/AI</b> to build better program analyses.
	On the other hand, I develope program analyses and languages for improving intepretability, fairness, robustness, and safety
of <b>ML/AI</b> systems.
Most of my projects can be classified into one of these two directions.</p>
	</div>

</div>

<div class="row">
	<div class="page-header" class="col-lg-12">
		<h2>Projects in <b>PL/SE</b> &#8594; <b>ML/AI</b></h2>
	</div>
	<ul>
		{% for proj in site.data.projs %}
		{% if proj.cat == 'PLML' %}
		<li><h4>{{proj.title}}</h4>
		<p>{{proj.des}}</p>
		{% if proj.pubs != nil %}
		Paper(s): 
		{% for p in proj.pubs %}
		[<a href="{{p[1]}}"> {{p[0]}} </a>]
		{% endfor %}
		{% endif %}
		</li>
		{% endif %}
		{% endfor %}
	</ul>
	<div class="col-lg-12">
	</div>
</div>


<div class="row">
	<div class="page-header" class="col-lg-12">
		<h2>Projects in <b>ML/AI</b> &#8594; <b>PL/SE</b></h2>
	</div>
	<div class="col-lg-12">
	</div>
</div>