---
title: Xin Zhang's Homepage
layout: default
---


<div class="row">

	<div class="page-header top-header" class="col-lg-12" >
		<h2>Professional</h2>
	</div>

	<div class="col-lg-12">
		 <ul class="list-group list-special">
		{% for item in site.data.pcs %}
		<li class="list-group-item">
					{{item.pc}}
		</li>
		{% endfor%}
		</ul>
	</div>
</div>

<div class="row">

	<div class="page-header top-header" class="col-lg-12" >
		<h2>Teaching</h2>
	</div>

	<div class="col-lg-12">
		 <ul class="list-group list-special">
		{% for item in site.data.tas %}
		<li class="list-group-item">
					{{item.ta}}
		</li>
		{% endfor%}
		</ul>
	</div>
</div>

<!--<div class="row">

	<div class="page-header top-header" class="col-lg-12" >
		<h2>Student Mentoring</h2>
	</div>

	<div class="col-lg-12">
		 <ul class="list-group list-special">
		{% for item in site.data.students %}
		<li class="list-group-item">
		{% if item.link != nil %}
		{{item.name}}, {{item.pos}}, {{item.inst}}. <a href="{{site.baseurl}}{{item.link}}">{{item.paper}}</a>.
		{% else %}
		{{item.name}}, {{item.pos}}, {{item.inst}}. {{item.paper}}.
		{% endif %}
		{% if item.paper1 != nil%}
			{% if item.link1 != nil %}
			<a href="{{site.baseurl}}{{item.link1}}">{{item.paper1}}</a>.
			{% else %}
			{{item.paper1}}.
			{% endif %}
		{% endif %}
		</li>
		{% endfor%}
		</ul>
	</div>
</div>
-->

